$min-width: 320 + px;
$max-width: 1170 + px;
$width-mobile: 320 + px;
$width-mobile-h: 668 + px;
$width-tablet: 767 + px;
$width-tablet-h: 1024 + px;
$width-desktop: 1440 + px;
$font-family: Poppins, Helvetica, Arial, sans-serif;
$transition: all 0.3s ease 0s;
$fz-default: 16px;

